[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
pymongo = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
sklearn = "*"
gunicorn = "*"
requests = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.10"
